.charger-info {
  display: flex;
  justify-content: space-between;
}

.charger-item {
  margin-top: 1.2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.edit-input-container {
  display: flex;
  justify-content: space-between;
}

.charger-properties {
  font-size: 1.1rem;
}
@media only screen and (max-width: 700px) {
  .charger-item {
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .charger-properties {
    font-size: 0.9rem;
  }
}
